@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@RenderSection("Title", true)</title>

    <!-- CSS -->
    @Styles.Render("~/bundles/bootstrap")
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    @RenderSection("Head", false)
</head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                @RenderSection("Header", false)
            </div>
        </div>
        
        <div class="container">
            @RenderBody()
        </div>
        
        <div id="footer">
            <div class="container">
                @RenderSection("Footer", false)
            </div>
        </div>

        <!-- JQuery from CDN -->
        @Scripts.Render("~/bundles/jquery-1.8.3.min")
        <!-- ... with backup -->
        <script>window.jQuery || document.write('<script src="/public/libs/jquery/jquery-1.9.1.min.js">\x3C/script>')</script>

        @*@Scripts.Render("~/bundles/validation")*@
        @Scripts.Render("~/bundles/scripts")
    </body>
</html>
